/*
 * resource.rc - Resource file for FakeEsptool
 *
 * English (US) resources with LANGUAGE directive support for future i18n.
 */

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/* Shared resources (language independent) */
IDI_APP ICON "res/app.ico"
IDB_TOOLBAR BITMAP "res/toolbar.bmp"
1 RT_MANIFEST "res/res1.xml"

/* ============================================================ */
/* English (US)                                                 */
/* ============================================================ */

LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

IDR_MAIN_MENU MENUEX
{
  POPUP "&File", 0, 0, 0
  {
    MENUITEM "&New Device...       Ctrl+N", IDM_NEW_DEVICE, 0, 0
    MENUITEM "&Open Device...      Ctrl+O", IDM_OPEN_DEVICE, 0, 0
    MENUITEM "&Save Device         Ctrl+S", IDM_SAVE_DEVICE, 0, 0
    MENUITEM "Save Device &As...   F12", IDM_SAVE_DEVICE_AS, 0, 0
    MENUITEM "", 0, 0|MFT_SEPARATOR, 0
    MENUITEM "Device &Properties...", IDM_DEVICE_PROPS, 0, 0
    MENUITEM "", 0, 0|MFT_SEPARATOR, 0
    MENUITEM "E&xit                Alt+F4", IDM_EXIT, 0, 0
  }
  POPUP "&Serial", 0, 0, 0
  {
    MENUITEM "&Connect", IDM_CONNECT, 0, 0
    MENUITEM "&Reconnect          Ctrl+R", IDM_RECONNECT, 0, 0|MFS_GRAYED
    MENUITEM "", 0, 0|MFT_SEPARATOR, 0
    MENUITEM "&Disconnect", IDM_DISCONNECT, 0, 0|MFS_GRAYED
  }
  POPUP "F&lash", 0, 0, 0
  {
    MENUITEM "&Import Flash...", IDM_FLASH_IMPORT, 0, 0
    MENUITEM "&Export Flash...", IDM_FLASH_EXPORT, 0, 0
  }
  POPUP "&Log", 0, 0, 0
  {
    MENUITEM "&Clear               Ctrl+L", IDM_LOG_CLEAR, 0, 0
    MENUITEM "Save &as...", IDM_LOG_SAVEAS, 0, 0
    MENUITEM "", 0, 0|MFT_SEPARATOR, 0
    MENUITEM "&Font...", IDM_LOG_FONT, 0, 0
  }
  POPUP "&Help", 0, 0, 0
  {
    MENUITEM "&About               F1", IDM_ABOUT, 0, 0
  }
}

IDR_MAIN_ACCEL ACCELERATORS
{
  VK_F1,      IDM_ABOUT,          VIRTKEY
  VK_F12,     IDM_SAVE_DEVICE_AS, VIRTKEY
  "N",        IDM_NEW_DEVICE,     VIRTKEY, CONTROL
  "O",        IDM_OPEN_DEVICE,    VIRTKEY, CONTROL
  "S",        IDM_SAVE_DEVICE,    VIRTKEY, CONTROL
  "R",        IDM_RECONNECT,      VIRTKEY, CONTROL
  "L",        IDM_LOG_CLEAR,      VIRTKEY, CONTROL
}

IDD_PORT_SELECT DIALOGEX 0, 0, 280, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select Port"
FONT 8, "MS Shell Dlg"
BEGIN
    COMBOBOX        IDC_PORT_COMBO, 50, 10, 220, 200, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Port:", -1, 10, 13, 35, 8
    LTEXT           "Baud Rate: 115200 (Fixed)", -1, 10, 35, 260, 8
    LTEXT           "Data: 8   Parity: None   Stop: 1", -1, 10, 50, 260, 8
    DEFPUSHBUTTON   "OK", IDOK, 100, 75, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 170, 75, 50, 14
END

IDD_ABOUT DIALOGEX 0, 0, 220, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About FakeEsptool"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_APP, -1, 10, 10, 20, 20
    CONTROL         "FakeEsptool v1.0", IDD_APPNAME, "Static", WS_GROUP, 40, 10, 170, 10
    CONTROL         "Copyright (c) 2026 Larry Li", IDD_COPYRIGHT, "Static", WS_GROUP, 40, 22, 170, 10
    DEFPUSHBUTTON   "OK", IDOK, 85, 78, 50, 14
    CONTROL         "<a href=""https://github.com/larryli/FakeEsptool"">https://github.com/larryli/FakeEsptool</a>", IDD_WEBSITE, "SysLink", WS_TABSTOP, 40, 38, 170, 10
END

IDD_NEW_DEVICE DIALOGEX 0, 0, 260, 140
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New Device"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Chip:", -1, 10, 12, 50, 8
    COMBOBOX        IDC_CHIP_COMBO, 65, 10, 185, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "XTAL:", -1, 10, 30, 50, 8
    COMBOBOX        IDC_XTAL_FREQ_COMBO, 65, 28, 185, 80, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "Flash Size:", -1, 10, 48, 50, 8
    COMBOBOX        IDC_FLASH_SIZE_COMBO, 65, 46, 185, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "MAC:", -1, 10, 66, 50, 8
    EDITTEXT        IDC_MAC_EDIT, 65, 64, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Random", IDC_RANDOM_MAC, 190, 63, 60, 16

    LTEXT           "Initial Flash:", -1, 10, 84, 50, 8
    AUTORADIOBUTTON "Blank", IDC_INIT_BLANK, 65, 83, 50, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "From file:", IDC_INIT_FILE, 120, 83, 55, 10
    EDITTEXT        IDC_INIT_FILE_PATH, 65, 97, 155, 12, ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON      "...", IDC_BROWSE_FILE, 225, 96, 20, 14

    DEFPUSHBUTTON   "OK", IDOK, 75, 118, 55, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 118, 55, 16
END

IDD_DEVICE_PROPS DIALOGEX 0, 0, 260, 110
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Device Properties"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Chip:", -1, 10, 12, 50, 8
    COMBOBOX        IDC_CHIP_COMBO, 65, 10, 185, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "XTAL:", -1, 10, 30, 50, 8
    COMBOBOX        IDC_XTAL_FREQ_COMBO, 65, 28, 185, 80, CBS_DROPDOWNLIST | WS_TABSTOP

    LTEXT           "Flash Size:", -1, 10, 48, 50, 8
    COMBOBOX        IDC_FLASH_SIZE_COMBO, 65, 46, 185, 120, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "MAC:", -1, 10, 66, 50, 8
    EDITTEXT        IDC_MAC_EDIT, 65, 64, 120, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "Random", IDC_RANDOM_MAC, 190, 63, 60, 16

    DEFPUSHBUTTON   "OK", IDOK, 75, 88, 55, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 140, 88, 55, 16
END

STRINGTABLE
{
    IDS_APP_NAME        "FakeEsptool"
    IDS_DISCONNECTED    "Disconnected"
    IDS_TITLE_FORMAT    "FakeEsptool - %s"
    IDS_TIP_CONNECT     "Connect"
    IDS_TIP_DISCONNECT  "Disconnect"
    IDS_TIP_RECONNECT   "Reconnect"
    IDS_TIP_CLEAR       "Clear Log"
    IDS_TIP_SAVEAS      "Save Log As..."
}

STRINGTABLE
{
    IDS_MSG_NOT_CONN    "Serial port is not connected"
    IDS_MSG_CONN_TITLE  "Connection"
    IDS_MSG_CONFIRM_EXIT "Serial port is connected. Are you sure you want to exit?"
    IDS_MSG_CONFIRM_CAP "Confirm Exit"
    IDS_MSG_PORT_ERROR  "Failed to open serial port"
    IDS_MSG_ERROR       "Error"
    IDS_MSG_SELECT_PORT "Please select a port"
    IDS_MSG_WARNING     "Warning"
    IDS_MSG_INVALID_PORT "Invalid port selection"
    IDS_MSG_SAVE_ERROR  "Failed to create file"
    IDS_MSG_DEV_REMOVED "Serial port device has been disconnected."
    IDS_MSG_DEV_TITLE   "Device Removed"
    IDS_LOG_SAVE_FILTER "Log Files (*.log)\0*.log\0All Files (*.*)\0*.*\0"
    IDS_MSG_CONN_LOST   "Connection lost. Serial port error."
    IDS_DEVICE_FILTER   "ESP Device (*.esp)\0*.esp\0All Files (*.*)\0*.*\0"
    IDS_DEVICE_SAVE_FILTER "ESP Device (*.esp)\0*.esp\0All Files (*.*)\0*.*\0"
    IDS_BIN_FILTER      "Binary Files (*.bin)\0*.bin\0All Files (*.*)\0*.*\0"
    IDS_FLASH_SIZE_MISMATCH "Flash file size does not match current device Flash size"
}

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3F
FILEFLAGS 0x0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "FileDescription", "ESP Chip Device Simulator\0"
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "LegalCopyright", "Copyright (c) 2025 - 2026 Larry Li\0"
      VALUE "ProductName", "FakeEsptool\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 0x4B0
  }
}
